<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink = "/dam2" fill="solid">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        2 DAM
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button routerLink = "/dam1" fill="solid">
        1 DAM
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button routerLink = "/tabs" fill="solid">
          FCT
          <ion-icon slot="end" name="help-circle"></ion-icon>
        </ion-button>

    </ion-buttons>
 
  </ion-toolbar>

</ion-header>
